.login {
  width: 100%;
  height: 130%;
  min-height: 1200px;
  background: url("./img/login__bg.svg");
  background-size: cover;
}

.login__black-bg {
  width: 100%;
  height: 1200px;
  background: rgba(0, 0, 0, 80%);
  padding-top: 130px;
}

.login__form {
  width: 400px;
  height: 414px;
  background: #fff;
  margin: 0 auto;
  border-radius: 5px;
}

.login__form form {
  margin-top: 30px;
}

.form__enter {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}

.enter__title {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

.enter__input {
  width: 100%;
  height: 25px;
  margin-top: 30px;
  border-bottom: 1px solid #0E0E10;
  margin-bottom: 10px;
  line-height: 24px;
  transition: 1s;
}

.enter__input:focus {
  border-bottom: 1px solid #2F80ED;
}

.enter__input::placeholder {
  margin-top: -10px;
}

.enter__input-title {
  font-size: .60em;
  font-weight: 300;
  color: #828282;
  transform: translateY(30px);
}

.form__enter form {
  margin-bottom: 30px;
}

.enter__button {
  width: 100%;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #2F80ED;
  color: #2F80ED;
  text-align: center;
  cursor: pointer;
  font-weight: 100;
  font-size: .80em;
  margin-top: 30px;
}

.enter__button:hover {
  background: #2F80ED;
  color: #fff;
}

.enter__forgot {
  color: #2F80ED;
  font-size: .80em;
  cursor: pointer;
  user-select: none;
  font-weight: 300;
}

#eye {
  cursor: pointer;
  margin-top: -40px;
  margin-left: 330px;
  position: absolute;
  color: #000;
  font-size: .80em;
}

.recovery__password {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  display: none;
}

.recovery__password form {
  margin-top: 50px;
}

.recovery__title {
  font-size: 1.25em;
  margin-top: 30px;
}

.recovery__about {
  margin-bottom: 50px;
  line-height: 18px;
  font-weight: 300;
  font-size: .60em;
  color: #828282;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  width: 95%;
}

.recovery__button {
  margin-top: 60px;
}

.recovery__code {
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  display: none;
}

.code__about {
  padding-left: 0px;
}

.times {
  position: absolute;
  width: 30px;
  height: 15px;
  margin-top: 10px;
  margin-left: 350px;
}

.times span {
  display: block;
  width: 20px;
  height: 3px;
  background: #EB5757;
  transform: rotate(-42deg);
  position: absolute;
  cursor: pointer;
}

.times span::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #EB5757;
  transform: rotate(85deg);
  position: absolute;
}

.code__inputs {
  display: flex;
  width: 95%;
  height: 30px;
  margin: 0 auto;
  margin-top: 56px;
}

.code__input {
  width: 45px;
  height: 20px;
  text-align: center;
  border-bottom: 1px solid #0E0E10;
  margin-left: 15px;
}

.code__input::placeholder {
  color: #000;
  font-size: 1em;
}

.code__input:first-child {
  margin-left: 5px;
}

.code__button {
  margin-top: 50px;
}

.code__counter {
  margin-top: 50px;
  color: #828282;
  display: block;
  font-size: .70em;
  font-weight: 300;
  line-height: 21px;
}

.reset__password {
  width: 100%;
  height: 100%;
  display: none;
  padding: 15px 15px;
}

.reset__button {
  margin-top: 70px;
}

.badrequest {
  font-weight: 400;
  font-size: .70em;
  color: #EB5757;
  margin-top: -12px;
  user-select: none;
}

@media only screen and (min-device-width: 1400px) {
  .login {
    height: 1200px;
  }
}

@media only screen and (min-device-width: 2160px) {
  .login {
      height: 1400px;
   }
   .login__black-bg {
     padding-top: 450px;
   }
}

@media only screen and (min-device-width: 2500px) {
  .login__black-bg {
    height: 1400px;
  }
}
