.registry {
  width: 100%;
  background: #F3F4F8;
  height: 1200px;
}

.registry__container {
  padding-top: 10px;
}

.registry__nav {
  width: 100%;
  height: 80px;
  position: relative;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
  margin-bottom: 10px;
}

.registry__nav-title {
  display: flex;
  width: 100%;
  height: 40px;
  padding-top: 8px;
  border-bottom: 1px solid #E0E0E0;
}


.registry__btns {
  display: flex;
  width: 180px;
  margin-right: 411px;
}

.registry__btn {
  width: 193px;
  height: 25px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  font-size: .50em;
}

.activeBtn {
  border: 1px solid #3F40F0;
}

.registry__status {
  color: #EB5757;
  font-size: .60em;
  line-height: 19px;
  font-weight: 400;
  right: 0px;
  margin-right: 20px;
  position: absolute;
  display: block;
}

.registry__status span {
  color: #219653;

  font-weight: 400;
}

.registry__nav-links {
  width: 100%;
  display: flex;
  height: 40px;
  padding-top: 3px;
}

.registry__nav-link:last-child {
  margin-right: 0px;
}

.registry__checkbox {
  width: 15px;
  height: 15px;
  display: inline-block;
  cursor: pointer;
  background: rgba(63, 64, 240, 0.25);
  border: 0.5px solid #3F40F0;
  border-radius: 2.5px;
  margin-right: 20px;
}

.registry__checkbox i {
  margin-left: -1px;
  margin-top: -1px;
  color: #3F40F0;
  position: absolute;
  z-index: 9999;
}

.registry__nav-company {
  margin-left: 13px;
  width: 30%;
  height: inherit;
  font-size: .70em;
  cursor: pointer;
  max-width: 229px;
  padding-top: 7px;
  margin-right: 50px;
}

.checkbox--green i {
  color: #219653;
  font-size: .65em;
}

.registry__nav-status {
  width: 50px;
}

.falling-filt {
  width: 167px;
  text-align: left;
  margin-left: 20px;
}

.registry__cards {
  width: 100%;
}

.type-link {
  margin-right: 10px;
}

.commentary {
  width: 403px;
}

.registry__card {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
}

.registry__date {
  width: 14%;
  margin: auto;
  padding-left: 21px;
  height: inherit;
  font-weight: 300;
  font-size: .65em;
}

.registry__date .registry__checkbox {
  border: 1px solid #BDBDBD;
  background: #fff;
}

.registry__items {
  width: 86%;
  height: inherit;
  padding: 0px 15px 0px 15px;
}

.registry__item {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #BDBDBD;
}

.registry__item:last-child {
  border-bottom: 0;
}

.registry__item .registry__checkbox {
  margin-left: 20px;
  margin-top: 12px;
}

.registry__nav-date {
  font-size: .70em;
  padding-top: 6px;
  width: 139px;
}

.registry__nav-checkbox {
  margin-left: 32px;
}

.registry__company {
  font-size: .50em;
  margin-right: 30px;
  padding-top: 13px;
  width: 184px;
}

.registry__nav-types {
  width: 361px;
  height: inherit;
}

.registry__nav-types_link {
  font-size: .70em;
  margin-right: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
}

.registry__nav-commentary {
  text-align: center;
  width: 323px;
  padding-top: 5px;
  font-size: .80em;
}

.status__checkbox {
  background: #fff;
  border: 1px solid #BDBDBD;
}

.status__checkbox i {
  color: #219653;
  font-size: .70em;
}

.registry__types {
  display: flex;
  width: 354px;
  padding-top: 8px;
}

.registry__type {
  text-align: center;
  font-size: 0.8em;
  width: 89px;
}

.registry__commentary {
  width: 308px;
  padding-top: 5px;
  margin-left: 14px;
  word-wrap: wrap;
  font-size: .50em;
}

.eddit-img {
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-top: 12px;
}

.activeBtn {
  border: 1px solid #3F40F0;
}

.nav-company__menu {
  width: 30%;
  margin-left: 30px;
  margin-top: 10px;
  max-width: 342px;
  height: 120px;
  background: #fff;
  position: absolute;
  box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 5px 5px;
  display: none;
  z-index: 1;
}

.nav-company__menu_link {
  display: block;
  width: 100%;
  height: 40px;
  font-weight: 300;
  padding: 10px 35px;
}

.nav-company__menu_link:hover {
  color: #fff;
  background: #2F80ED;
}

.black-registry-bg {
  width: 100%;
  height: 200%;
  padding-top: 30px;
  position: absolute;
  margin-top: -50px;
  display: none;
  z-index: 999999999;
  background: rgba(0, 0, 0, 40%);
}

.add-window {
  width: 390px;
  height: 679px;
  display: none;
  background: #fff;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 auto;
  padding: 25px 19px;
  position: relative;
}

.window__title {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #E0E0E0;
  font-weight: 300;
  font-size: .80em;
  line-height: 23px;
  margin-bottom: 30px;
}

.window__inputs {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
}

.window__label {
  position: absolute;
  width: 48px;
  height: 19px;
  font-weight: 400;
  margin-left: 13px;
  padding-left: 5px;
  margin-top: -5px;
  background: #fff;
  font-size: .60em;
  text-align: center;
}

.window__label:nth-child(2) {
  width: 106px;
}

.lb {
  width: 108px;
}

.window__input-box:first-child {
  margin-right: 29px;
}

.window__label:nth-child(2) {
  right: 0;
}

.window__input {
  width: 100%;
  max-width: 160px;
  height: inherit;
  border: 1px solid #2F80ED;
  border-radius: 5px;
  margin-right: 20px;
  padding-left: 5px;
  text-align: center;
}

.window__list {
  width: 100%;
  height: 200px;
}

.window__list-label {
  width: 80px;
  height: 19px;
  background: #fff;
  position: absolute;
  margin-top: -11px;
  font-size: .70em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-left: 14px;
}

.ld {
  width: 108px;
}

.window__select {
  width: 100%;
  display: block;
  height: 50px;
  border: 1px solid #2F80ED;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: .80em;
  padding: 13px 0px 0px 15px;
}

.window__select img {
  float: right;
  margin-right: 16px;
  margin-top: 9px;
}

.window__input-box {
  width: 50%;
  height: inherit;
}

.window__textarea {
  width: 100%;
  outline: none;
  resize: none;
  margin-top: 40px;
  height: 100px;
  border: 1px solid #2F80ED;
  border-radius: 5px;
  padding-top: 23px;
  padding-left: 15px;
}

.t-label {
  width: 123px;
  height: 19px;
  margin-top: 29px;
  font-weight: 400;
  font-size: .70em;
  position: absolute;
  background: #fff;
}

.window__checker {
  width: 100%;
  margin-bottom: 40px;
  height: 20px;
  display: flex;
  margin-top: 30px;
}

.title {
  font-weight: 400;
  font-size: .80em;
  line-height: 21px;
  color: #3F40F0;
}

.check {
  width: 40px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #333333;
  border-radius: 16px;
  cursor: pointer;
  transition: 1s;
}

.check::after {
  margin-top: 2px;
  margin-left: 2px;
  transition: 1s;
  transform: translateX(0px);
  content: "";
  display: block;
  width: 14px;
  border-radius: 14px;
  background: #333333;
  height: 14px;
}

.active {
  border: 1px solid #3F40F0;
}

.active::after {
  background: #3F40F0;
  transform: translateX(20px);
}

.window__btns {
  width: 100%;
  height: 40px;
  display: flex;
}

.window__btn {
  width: 160px;
  height: 40px;
  border: 1px solid #EB5757;
  border-radius: 5px;
}

.window__btn:nth-child(1):hover {
  background: #EB5757;
  color: #fff;
}

.window__btn:nth-child(2) {
  background: #3F40F0;
  color: #fff;
  border: 1px solid #3F40F0;
}

.window__btn:nth-child(2):hover {
  background: 0;
  color: #3F40F0;
}

.window__btn:nth-child(2) {
  margin-left: 32px;
}

.registry__status img {
  cursor: pointer;
}

.eddit-window {
  display: none;
  margin: 0 auto;
  width: 390px;
  background: #fff;
  padding: 25px 19px;
  height: 676px;
}

.window__delete {
  color: #EB5757;
  cursor: pointer;
  float: right;
}

.window__delete:hover {
  text-decoration: underline;
}

.company {
  display: none;
}

.eddit-company {
  display: none;
}

.eddit-money {
  display: none;
}

.window__select-menu {
  width: 350px;
  height: 80px;
  background: #fff;
  position: absolute;
  z-index: 9999;
  margin-top: 11px;
  margin-left: -15px;
  box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 5px 5px;
}

.money {
  display: none;
}

.window__select-link {
  width: 100%;
  height: 40px;
  font-weight: 300;
  font-size: .80em;
  padding-top: 10px;
  padding-left: 15px;
}

.window__select-link:hover {
  color: #fff;
  background: #2F80ED;
}

#eddit-title {
  font-size: .90em;
}

@media only screen and (min-device-width: 1920px) {
  .registry__nav-company {
    margin-left: 85px;
  }
  .registry__nav-types {
    width: 485px;
    margin-left: 83px;
  }
  .registry__nav-types_link {
    margin-right: 54px;
  }
  .registry__types {
    margin-left: 75px;
    width: 451px;
  }
  .registry__type {
    margin-right: 70px;
  }
  .registry__nav-commentary {
    width: 472px;
  }
  .registry__commentary {
    width: 509px;
    margin-left: 58px;
  }
  .registry__nav-status {
    margin-left: 95px;
  }
  .registry__commentary {
    width: 545px;
  }
}


@media only screen and (min-device-width: 2000px) and (max-device-width: 2499px) {
  .registry__nav-commentary {
    width: 531px;
  }

  .registry__nav-company {
    margin-left: 96px;
  }

  .registry__item {
    position: relative;
  }

  .registry__save {
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
}

@media only screen and (min-device-width: 2500px) {
  .registry__nav-company {
    margin-left: 386px;
  }

  .registry__item .registry__checkbox {
    margin-left: 249px;
  }

  .registry__company {
    width: 217px;
    font-size: .60em;
  }

  .registry__nav-types {
    margin-left: 115px;
  }

  .registry__nav-commentary {
    margin-left: 190px;
  }

  .registry__commentary {
    margin-left: 212px;
    font-size: .56em;
    width: 595px;
  }
}
