.settings {
  width: 100%;
  background: #F3F4F8;
  min-height: 924px;
}

.settings__container {
  padding-top: 10px;
}

.settings__nav {
  width: 100%;
  height: 40px;
  background: #fff;
  padding-top: 8px;
  padding-left: 15px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #2F80ED;
  font-size: .80em;
  font-weight: 300;
}

.settings__lists {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 3px;
  padding-top: 15px;
}

.settings__list-nav {
  width: 100%;
  height: 81px;
  padding: 10px 15px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
}

.settings__list-title {
  height: 30px;
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
}

.settings__title-text {
  color: #219653;
  font-weight: 300;
  font-size: .80em;
  line-height: 23px;
  font-style: normal;
  cursor: pointer;
}

.settings__title-text i {
  font-size: .70em;
}

.settings__counter {
  position: absolute;
  right: 0;
  color: #219653;
  font-weight: 300;
  font-size: .80em;
}

.settings__list-caterories {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
}

.settings__list-category {
  width: 200px;
  display: block;
  padding-top: 10px;
  font-size: .65em;
  font-weight: 400;
  text-align: center;
  height: inherit;
}

.settings__list-category:nth-child(1) {
  width: 305px;
}

.settings__files {
  width: 100%;
}

.settings__file {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.settings__file:hover {
  background: #ECECFE;
}

.settings__file-item {
  width: 200px;
  display: block;
  font-weight: 400;
  font-size: .50em;
  word-break: break-all;
  text-align: center;
  padding-top: 18px;
  max-width: 129px;
}

.settings__file-item:nth-child(1) {
  width: 305px;
  min-width: 194px;
}

.company__category:nth-child(1) {
  width: 190px;
}

.company__category:nth-child(2) {
   position: absolute;
   right: 0;
   width: 134px;
   margin-right: -7px;
}

.company__file-item:nth-child(1) {
  width: 237px;
  text-align: center;
}

.company__file-item:nth-child(2) {
  right: 0;
  position: absolute;
  text-align: center;
  margin-right: 20px;
}

.black-set-bg {
  width: 100%;
  height: 1200px;
  background: rgba(0, 0, 0, 60%);
  position: absolute;
  z-index: 99999999999999;
  margin-top: -50px;
  padding-top: 150px;
  display: none;
}

.add-acc-window {
  width: 1070px;
  background: #fff;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px 20px;
}

#eddit {
  display: none;
}

#add {
  display: none;
}

.add-acc__title {
  width: 100%;
  font-size: .80em;
  font-weight: 300;
  height: 40px;
  margin-top: 5px;
  border-bottom: 1px solid #E0E0E0;
}

.add-acc__content {
  width: 100%;
  height: 400px;
  padding-top: 50px;
  display: flex;
}

.add-acc__inputs {
  width: 34%;
  height: inherit;
}

.add-acc__inputs > div {
  position: relative;
}

.add-acc__label {
  width: 63px;
  height: 19px;
  position: absolute;
  background: #fff;
  margin-left: 10px;
  margin-top: -7px;
  z-index: 999999;
  font-size: .80em;
  text-align: center;
}

.l {
  width: 165px;
}

.add-acc__input {
  width: 100%;
  padding-left: 20px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #2F80ED;
  margin-bottom: 30px;
}


.b {
  width: 145px;
}

.add-acc__btns {
  margin-top: 30px;
}

.add-acc__organizations {
  width: 66%;
  height: inherit;
}

.add-acc__organizations-item {
  width: 100%;
  height: 50px;
  display: flex;
  padding-left: 40px;
  margin-bottom: 30px;
  position: relative;
}

.add-acc__organizations-item:last-child {
  margin-bottom: -20px;
}

.add-acc__select-box {
  width: 50%;
  height: inherit;
}

.add-acc__select {
  border: 1px solid #2F80ED;
  width: 100%;
  height: inherit;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 15px 15px;
}

.add-acc__inner {
  font-weight: 300;
  font-size: .70em;
}

.add-acc__select img {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.position {
  width: 250px;
  float: right;
  margin-left: 65px;
}

.add-acc__select-box:first-child {
  margin-right: 70px;
}

.add-acc__add-title {
  color: #3F40F0;
  font-weight: 300;
  font-size: .70em;
  line-height: 18px;
  margin-left: 38px;
  height: 45px;
  cursor: pointer;
}

.blocked {
  color: #EB5757;
  font-weight: 300;
  font-size: .80em;
  line-height: 18px;
  margin-top: 5px;
  cursor: pointer;
}

.blocked:hover {
  text-decoration: underline;
}

.add__company-window {
  width: 1340px;
  height: 600px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px 20px;
}

.add__company-title {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: .80em;
  position: relative;
  padding-left: 5px;
}

.add__company-content {
  width: 100%;
  height: 570px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 49%);
}


.add__company-content > div {
  border-top: 1px solid #E0E0E0;
  padding-top: 20px;
}

.company__label {
  width: 248px;
}

.add__company-box {
  width: 49%;
}

.add__company-box:nth-child(odd) {
  margin-right: 20px;
}

.rar {
  width: 160px;
}

.rb {
  width: 212px;
}

.add__company-inputs {
  display: flex;
  margin-bottom: 24px;
}

.add-company__commentary {
  width: 100%;
  height: 110px;
  border-radius: 5px;
  border: 1px solid #2F80ED;
  padding-left: 5px;
  margin-bottom: 30px;
}

.commentary {
  width: 135px;
}

.add-company__btns {
  width: 100%;
}

.add-company__btn {
  width: 50%;
}

.add__company_company {
  width: 100%;
  height: 50px;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

.add__company_name {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  margin-right: 80px;
  border: 1px solid #2F80ED;
}

.add__company_position {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #2F80ED;
}

.add__company_add {
  font-weight: 300;
  font-size: .80em;
  color: #2F80ED;
}

#add-company {
  display: none;
}

#eddit-company {
  display: none;
}

#f {
  margin-right: 60px;
}

.add-acc__title {
  display: flex;
  position: relative;
}

.blocked {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.search__acc {
  width: 40%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  max-width: 510px;
  height: 600px;
  margin: 0 auto;
  display: none;
  z-index: 999999999999999999;
}

.search__header {
  padding: 20px 15px 10px 15px;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 120px;
  position: relative;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.search__header-title {
  width: 100%;
  height: 57px;
  border-bottom: 1px solid #E0E0E0;
  padding-top: 12px;
  padding-left: 3px;
}

.search__title {
  font-weight: 400;
  font-size: .90em;
  line-height: 23px;
}

.search__header-title img {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: -25px;
  cursor: pointer;
}

.search__accounts {
  height: 480px;
  width: 100%;
  background: #F3F4F8;
  border-radius: 0px 0px 5px 5px;
  padding-top: 15px;
  overflow: hidden;
  overflow-y: scroll;
}

.black-set-bg {
  height: 2077px;
}

.search__search-field {
  width: 100%;
  height: 60px;
  padding-top: 9px;
  display: flex;
}

.search__search-title {
  font-weight: 400;
  font-size: .85em;
  margin-right: 20px;
}

.search__search-input {
  width: 361px;
  height: 25px;
  border-radius: 12px;
  background: #F2F2F2;
  padding-left: 5px;
  padding-left: 30px;
}

.search__search-field i {
  font-size: .60em;
  position: absolute;
  margin-top: 6px;
  margin-left: 157px;
  color: #BDBDBD;
}


.search__search-input::placeholder {
  padding-left: 10px;
  color: #BDBDBD;
}

.search__account {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  background: #fff;
  display: flex;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  padding-top: 15px;
  position: relative;
  margin-bottom: 10px;
}

.search__account-name {
  font-weight: 400;
  font-size: .80em;
}

.search__account-add {
  position: absolute;
  right: 0;
  font-size: .70em;
  cursor: pointer;
  margin-right: 20px;
  font-weight: 300;
  color: #219653;
  user-select: none;
}

.add-acc-window {
  overflow: hidden;
  overflow-y: scroll;
}

.delete {
  font-weight: 300;
  font-size: .70em;
  position: absolute;
  right: 0;
  margin-top: -27px;
  margin-right: 28px;
  cursor: pointer;
}

.delete:hover {
  text-decoration: underline;
}

.company__file-item {
  text-align: left;
  padding-left: 23px;
}


.ed {
  margin-top: -19px;
}

@media only screen and (min-device-width: 1920px) {
  .company__file-item:nth-child(2) {
    margin-right: 40px;
  }

  .company__category:nth-child(2) {
    margin-right: 40px;
  }

  .settings__lists {
    grid-template-columns: repeat(2, 49.4%);
    grid-gap: 20px;
  }

  .settings__list-category {
    width: 190px;
  }

  .company-active {
    width: 256px;
  }

  .settings__list-category:nth-child(1) {
    width: 280px;
  }

  .settings__file-item {
    width: 189px;
  }

  .company__file-item:nth-child(1) {
    width: 218px;
  }

  .company__file-item:nth-child(2) {
    width: 87px;
  }
  .settings__file {
    position: relative;
  }

  .settings__file-item:nth-child(1) {
    width: 301px;
    max-width: 311px;
  }

  .settings__file-item {
    width: 166px;
    max-width: 166px;
  }

  .company__category:nth-child(2) {
    margin-right: -65px;
  }

  .settings__list-category:nth-child(4) {
    position: absolute;
    right: 0;
  }

  .settings__file-item:nth-child(4) {
    position: absolute;
    right: 0;
    margin-right: 23px;
  }

  .settings__file-item:nth-child(3) {
    margin-left: 20px;
  }
}

@media only screen and (min-device-width: 2500px) {
  .company__category {
    font-size: .80em;
  }

  .company__file-item {
    font-size: .80em;
  }

  .company__file-item:nth-child(1) {
    width: 288px;
  }

  .company__category:nth-child(1) {
    margin-left: 65px;
  }

  .company__category:nth-child(2) {
    margin-right: 100px;
  }

  .company__file-item:nth-child(2) {
    width: 134px;
  }

  .settings__file-item {
    font-size: .70em;
  }

  .settings__file-item:nth-child(1) {
    width: 318px;
  }

  .company__file-item:nth-child(2) {
    width: 100px;
  }

  .settings__file-item {
    width: 259px;
  }

  .company__file-item:nth-child(2) {
    margin-right: 42px;
  }

  .company__file-item:nth-child(2) {
    width: 127px;
  }

  .settings__list-category {
    width: 269px;
  }
}
